version: "3.9"

services:
  node:
    build:
      context: .
      dockerfile: node/Dockerfile
    command: sh -c "npm install --prefix /app/node && npm start --prefix /app/node"
    ports:
      - "8000:8000"
    volumes:
      - ./node:/app/node
      - ./shared:/app/shared
    environment:
      - NODE_ENV=development

  php:
    build:
      context: .
      dockerfile: php/Dockerfile
    ports:
      - "8001:8000"
    volumes:
      - ./php:/app/php
      - ./shared:/app/shared

  ruby:
    build:
      context: .
      dockerfile: ruby/Dockerfile
    command: bundle exec ruby index.rb
    ports:
      - "8002:8002"
    volumes:
      - ./ruby:/app/ruby
      - ./shared:/app/shared
    environment:
      HOST: 0.0.0.0
      BIND_HOST: 0.0.0.0
      PORT: 8002

  python:
    build:
      context: .
      dockerfile: python/Dockerfile
    command: python index.py
    ports:
      - "8003:8003"
    volumes:
      - ./python:/app/python
      - ./shared:/app/shared
    environment:
      HOST: 0.0.0.0
      BIND_HOST: 0.0.0.0
      PORT: 8003
